pre-commit==4.0.*
transformers==4.46.*
matplotlib==3.9.*
ipywidgets==8.1.*
datasets==2.21.*
monai==1.3.*
colorcet==3.1.*
accelerate==1.1.*
evaluate==0.4.*
lightning==2.4.*
tensorboard==2.18.*
onnx==1.17.*
opencv-python==4.10.*
